.App {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 10px 10px;
}

header {
    min-height: 70px;
    padding: 15px;
    margin-bottom: 70px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

header .logo {
    display: flex;
    align-items: right;
}

header .logo img {
    max-width: 40px;
    cursor: pointer;
    margin-right: 82%;
}

header .themeSelector span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid #dfdfdf;
}

header .themeSelector span:hover { 
    cursor: pointer;
}

header .themeSelector .activeTheme {
    height: 30px;
    width: 30px;
}

.addTask {
    padding: 20px 15px;
    border-radius: 5px;
    background-color: #fff;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: var(--box-shadow);
}

.addTask form {
    display: flex;
    gap: 7px;
}

.addTask form input {
    flex-grow: 1;
    padding: 5px 5px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 18px;
}

.addTask form input:focus {
    outline: .5px solid #cecccc;
}

.addTask form button {
    background-color: #03ba5c;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.addTask form button:hover {
    background-color: #1d8750;
    cursor: pointer;
    transition: .5s ease;
}

.showTask {
    padding: 20px 15px;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: var(--box-shadow);
}

/* bar de separation */
.showTask div.head {
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid #ba4343;
    display: flex;
    align-items: center;
}

.showTask div.head div {
    flex-grow: 1;
}

.showTask .title {
    font-size: 18px;
    font-weight: 600;
    user-select: none;
}

.showTask .count {
    background-color: #dfdfdf;
    border-radius: 50%;
    color: #525252;
    padding: 5px 10px;
    margin-left: 10px;
    user-select: none;
}

.showTask .clearAll {
    background-color: #0f6af3;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
}

.showTask .clearAll:hover { 
    background-color: #1061db;
    cursor: pointer;
}

.showTask ul {
    margin: 30px 5px 20px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
}

.showTask li {
    padding: 15px 10px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: space-around;
    gap: 5px;
    width: 350px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    border-left: 5px solid #1365dfaf;
}

.showTask li:hover{
  background-color: #f8f8f8;
}

.showTask li p {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.showTask li .name {
    font-size: 18px;
    padding-bottom: 5px;
}

.showTask li .time {
    font-size: 18px;
    padding-bottom: 5px;
}

.showTask i.bi-pencil-square {
    font-size: 18px;
    color: #1363DF;
    cursor: pointer;
}

.showTask i.bi-trash{
    font-size: 18px;
    color: #D82148;
    cursor: pointer;
}

/*responsive*/
@media only screen and (max-width: 800px) {
  .showTask li{
    width: 100%;
  }
}
